/*postingan*/
.posting-img{
    height: 400px;
    width: 100%;
    object-position: center;
    border-radius: 10px;
    display: flex;
}

/*artikel*/

.relative:hover .bg-black {
    opacity: 0.5; 
}

.relative:hover .bg-black h1 {
    opacity: 1;
}

/*beranda*/
.section-beranda{
    width: 100%;
    height: 400px;
    display: flex;
}

/*artikelopne*/
.artikelopen-img{
    height: 400px;
}